[submodule "external/tmx"]
	path = external/tmx
	url = https://github.com/mupfelofen-de/tmx-android.git
[submodule "external/clang-format"]
	path = external/clang-format
	url = https://github.com/mupfelofen-de/clang-format.git
