[submodule "external/tmx"]
	path = external/tmx
	url = https://github.com/baylej/tmx.git
[submodule "external/cwalk"]
	path = external/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/cute_headers"]
	path = external/cute_headers
	url = https://github.com/RandyGaul/cute_headers.git
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua.git
[submodule "external/log.c"]
	path = external/log.c
	url = https://github.com/rxi/log.c.git
[submodule "external/picolog"]
	path = external/picolog
	url = https://github.com/picojs/picolog.git
[submodule "external/buffer"]
	path = external/buffer
	url = https://github.com/clibs/buffer.git
