[submodule "external/tmx"]
	path = external/tmx
	url = https://github.com/baylej/tmx.git
[submodule "external/cwalk"]
	path = external/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
